---
import { Image } from 'astro:assets';
import testImage from '../assets/test_img.jpg';
---







<a href="#" class="card">
	<Image src={ testImage } alt="test image" />
	<span class="card-title title-font">Scrapy project</span>
</a>



<style>
	.card {
		position: relative;
		width: 100%;
		height: auto;
		display: flex;
		border-radius: 20px;
		box-shadow: 0 2px 4px 0 var(--black);
	}

	.card img {
		width: 100%;
		height: 100%;
		border-radius: 20px;
	}

	.card .card-title {
		width: 100%;
		height: 20%;
		position: absolute;
		bottom: 0;
		background: linear-gradient(to right, var(--black), var(--dark-blue));
		color: var(--text-white);
		opacity: .8;
		border-radius: 0 0 20px 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1.5rem;
	}
</style>

