---
import Card from '../components/Card.astro';
---







<div class="list">
	<Card />
	<Card />
	<Card />
	<Card />
</div>






<style>
	.list {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-gap: 1rem;
	}
</style>

