---
import Card from '/src/components/Card.astro';
import projects from '/src/data/projects.json';
---







<div class="list">
	{
		projects.map(project => (
			<Card project={ project }/>
		))
	}
</div>






<style>
	.list {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-gap: 1rem;
	}


	@media (max-width: 600px) {
		.list {
			grid-template-columns: 100%;
			grid-gap: 2.5rem;
		}
	}
</style>

