---
import { Image } from 'astro:assets';
import mailIcon from '/src/assets/mail_icon.png';
import githubIcon from '/src/assets/github_icon.png';
import linkedinIcon from '/src/assets/linkedin_icon.png';
---




<div class="introduction-container">
	<div class="introduction-wrapper">
		<div class="name-wrapper">
			<h1 class="title-font">Antón censored jejejej<!--Gendra Rodríguez--></h1>
			<h2>Full-stack developer</h2>
			<p>with some DevOps seasoning</p>
		</div>
		<div class="mail">
			<a href="mailto:gendra.job@gmail.com"><Image class="mail-icon" src={ mailIcon } alt="emai icon"/><strong>get in touch</strong></a>
		</div>
	</div>
	
	<div class="description">	
		<p class="introduction">Really, really, but really censored.<!--Currently working for a Startup based in Spain.--></p>
		<p class="mail">Im so sorry, Jolyn, this must be censored too :-(. But enjoy the rest of the page, this is the last censored content, I swear.<!--My job is to build systems, code new functionalities and solve issues. Ensuring that the best product is delivered to costumers.--></p>
	</div>
</div>

<div class="social-dir">
	<a href="https://github.com/gen-4"><Image class="social-img" src={ githubIcon } alt="github icon" /><span>Github</span></a>
	<a href="https://www.linkedin.com/in/anton-gendra-rodriguez/"><Image class="social-img" src={ linkedinIcon } alt="linkedin icon" /><span>Linkedin</span></a>
</div>





<style>
	.introduction-container {
		width: 100%;
		padding: 0 35% 0 20%;
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.introduction-bg {
		padding: 1rem 2rem;
		border-radius: 20px;
		background-color: var(--transparent-bg);
	}

	.introduction-container p {
		text-align: justify;
	}
	
	.introduction-wrapper {
		width: 100%;
		display: flex;
		gap: 1rem;
	}

	.introduction-wrapper .name-wrapper {
		width: 65%;
	}

	.introduction-wrapper .mail {
		width: 35%;
	}

	.introduction-wrapper .mail a {
		width: fit-content;
		display: flex;
		align-items: center;
		justify-content: center;
		text-transform: uppercase;
		border: 2px solid var(--white);
		border-radius: 10px;
		padding: 0 1.5rem;
		gap: .5rem;
		background: linear-gradient(to bottom right, var(--green-blue), var(--dark-blue));
		color: var(--text-white);
	}

	.introduction-wrapper .mail a:hover {
		background: linear-gradient(to bottom right, var(--dark-blue), var(--green-blue));
	}

	.introduction-wrapper .mail .mail-icon {
		width: 3.4rem;
		height: auto;
	}

	.name-wrapper {
		padding-bottom: 2.2rem;
	}

	.name-wrapper h1 {
		font-size: 3.8rem;
	}

	.name-wrapper h2 {
		font-size: 2.2rem;
	}

	.name-wrapper p {
		font-size: 1.5rem;
	}

	.description {
		width: 100%;
		display: flex;
		gap: 1.5rem;
	}

	.description .introduction {
		width: 50%;
	}

	.description .mail {
		width: 50%;
	}

	.social-dir {
		width: 100%;
		display: flex;
		justify-content: center;
		gap: 2rem;
		padding: 4rem 0;
	}

	.social-dir a {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: .3rem;
		text-transform: uppercase;
		background-color: var(--dark-blue);
		border-radius: 10px;
		padding: .3rem;
	}

	.social-dir a span {
		background-color: var(--lighter-blue);
		padding: .2rem 1rem;
		border-radius: 10px;
	}

	.social-img {
		height: auto;
		width: 4.5rem;
		border: 2px solid var(--lighter-blue);
		border-radius: 1000px;
		transition: .25s;
	}

	.social-dir a:hover .social-img {
		transform: scale(1.05);
	}

	@media (max-width: 600px) {
		.introduction-container {
			padding: 0 5%;
		}

		.name-wrapper {
			padding: 1rem 2rem;
			border-radius: 20px;
			background-color: var(--transparent-bg);
		}
		
		.description {
			flex-direction: column;
			padding: 1rem 2rem;
			border-radius: 20px;
			background-color: var(--transparent-bg);
		}

		.description p {
			width: 100% !important;
		}

		.introduction-wrapper {
			flex-direction: column;
			margin-bottom: 2rem;
		}

		.introduction-wrapper .name-wrapper {
			width: 100%;
		}
		
		.introduction-wrapper .mail {
			width: fit-content;
		}
	}
</style>

