---
import Header from '/src/components/Header.astro';
import Introduction from '/src/components/Introduction.astro';
import CardList from '/src/components/CardList.astro';






// Import the functions you need from the SDKs you need
import { initializeApp } from "firebase/app";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
const firebaseConfig = {
  apiKey: "AIzaSyCgri2u1-nGDMCsoWnJGtcdXQg-5Hz6Bq8",
  authDomain: "portfolio-9d918.firebaseapp.com",
  projectId: "portfolio-9d918",
  storageBucket: "portfolio-9d918.appspot.com",
  messagingSenderId: "282690614667",
  appId: "1:282690614667:web:bac516becc7193f6f56b8e"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);
---




<html>
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?&family=Rowdies:wght@300;400;700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap" rel="stylesheet">

		<title>Anton's Portfolio</title>
		<meta charset="UTF-8">		
		<meta name="keywords" content="anton, portfolio, projects, github, django, react, node, js, python, scrapy, kotlin">
		<meta name="description" content="Anton's portfolio to showcase personal projects">
		<meta name="author" content="Antón Gendra">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="icon" type="image/x-icon" href="/favicon.png">
	</head>

	<body class="body-font">
		<Header />
		<Introduction />
		<div class="projects-container">
			<CardList />
		</div>
	</body>
</html>



<style is:global>
	:root {
		--black: #29353C;
		--white: #E6E6E6;
		--dark-blue: #44576D;
		--green-blue: #768A96;
		--light-blue: #AAC7D8;
		--lighter-blue: #DFEBF6;
		--alpha-dark-blue: rgba(68, 87, 109, 0.8);

		--text-white: var(--white);
		--text-black: var(--black);
		--transparent-bg: var(--alpha-dark-blue);
	}

	.title-font {
		font-family: "Rowdies", sans-serif;
		font-weight: 400;
		font-style: normal;
	}

	.body-font {
		font-family: "Merienda", cursive;
		font-weight: 400;
		font-style: normal;
	}	

	body * {
		margin: 0;
	}

	html, body {
		width: 100vw;
		min-height: 100%;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	body {
		padding-bottom: 2rem !important;
		color: var(--text-white);
		background-image: url("/background.png");
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
	}

	*,
	*::before,
	*::after {
		box-sizing: inherit;
	}

	.projects-container {
		width: 100%;
		padding: 0 20%;
		margin-top: 4rem;
	}

	a {
		text-decoration: none;
		color: var(--text-black);
	}


	@media (max-width: 600px) {
		body {
			background-position: right;
			font-size: .8rem;
		}

		.projects-container {
			padding: 0 5%;
		}
	}
</style>

