---
import Header from '../components/Header.astro';
import Introduction from '../components/Introduction.astro';
import CardList from '../components/CardList.astro';






// Import the functions you need from the SDKs you need
import { initializeApp } from "firebase/app";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
const firebaseConfig = {
  apiKey: "AIzaSyCgri2u1-nGDMCsoWnJGtcdXQg-5Hz6Bq8",
  authDomain: "portfolio-9d918.firebaseapp.com",
  projectId: "portfolio-9d918",
  storageBucket: "portfolio-9d918.appspot.com",
  messagingSenderId: "282690614667",
  appId: "1:282690614667:web:bac516becc7193f6f56b8e"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);
---




<html>
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap" rel="stylesheet">
	</head>

	<body class="body-font">
		<Header />
		<Introduction />
		<div class="projects-container">
			<CardList />
		</div>
	</body>
</html>



<style is:global>
	:root {
		--black: #000000;
		--white: #FFFFFF;

		--text-white: var(--white);
		--text-black: var(--black);
	}

	.title-font {
		font-family: "Great Vibes", monospace;
		font-weight: 400;
		font-style: normal;
	}

	.body-font {
		font-family: "Slabo 27px", serif;
		font-weight: 400;
		font-style: normal;
	}	

	body * {
		margin: 0;
	}

	html, body {
		width: 100vw;
		min-height: 100%;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	body {
		padding-bottom: 2rem !important;
	}

	*,
	*::before,
	*::after {
		box-sizing: inherit;
	}

	.projects-container {
		width: 100%;
		padding: 0 20%;
	}

	a {
		text-decoration: none;
		color: var(--text-black);
	}
</style>

